.card-container {
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    box-shadow: 0 px 10px 8px #999;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-content {
    display: flex;
    flex-direction: row;
    width: 100%; /* Adjusted */
    height: fit-content;
}

.card-thumbnail {
    width: 300px; /* Adjusted */
}

.card-details {
    flex: 1; /* Adjusted */
    padding-left: 20px; /* Adjusted */
}

.card-data {
    padding: 10px;
    margin: 10px;
}

.card-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card-description {
    display: flex;
    flex-direction: column;
}

.card-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    width: auto;
    max-height: fit-content;
    padding: auto;
}

.addetailsbutton {
    max-height: 80px;
    width: 200px;
    background: pink;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

.cardImg {
    border: 1px black solid;
    border-radius: 10px;
    object-fit: cover;
    width: 100%; /* Adjusted */
    height: 200px;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
    .card-content {
        flex-direction: column;
    }

    .card-thumbnail {
        width: 100%; /* Adjusted */
    }

    .card-details {
        padding-left: 0; /* Adjusted */
    }

    .addetailsbutton {
        width: 100%;
        max-width: 300px;
    }
}
