.loginpage {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 230, 200);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 580px;
    background: white;
    padding: 40px 60px;
    border: 2px solid gray;
    background-color: rgb(225, 225, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.login-fields {
    margin-top: 30px;
}

.login-fields label {
    display: block;
    margin-bottom: 5px;
}

.login-fields input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    height: 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.login-signup {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.login-signup a {
    color: blue;
    text-decoration: none;
}

.errors {
    background: #ffcccc;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        max-width: 400px;
        padding: 30px;
    }

    .login-container h1 {
        font-size: 20px;
    }

    .login-fields input {
        height: 40px;
        font-size: 14px;
    }

    .login-container button {
        height: 40px;
        font-size: 16px;
    }

    .login-signup {
        font-size: 14px;
    }
}