.addetailspage {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addetailspage h1 {
    margin-bottom: 20px;
}

.addetails {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    background: #fce3fe;
    border: 1px solid gray;
    border-radius: 20px;
    height: fit-content;
}

.addetails-data {
    padding: 20px;
    flex-direction: column;
}

.carousel {
    max-height: fit-content;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .addetailspage {
        padding: 20px;
    }
    
    .addetails {
        flex-direction: column;
    }
    
    .carousel {
        max-width: 100%;
    }
}
