h1 {
    text-align: center;
    margin: 10px;
}

table {
    max-width: 95%;
    margin: auto;
}

.tab-bar {
    margin: 10px;
    text-align: center;
}

button {
    height: 65px;
    background: royalblue;
    width: 150px;
}