.ownadspage {
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.ownadspage-title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.ownadspage-content {
    text-align: center;
    display: flex;
    padding: auto;
    justify-content: center;
}