.passwordresetpage {
    width: 100%;
    height: 100%;
    background: #fce3fe;
    padding-top: 100px;
    padding-bottom: 100px;
}

.passwordreset-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border: 1px solid gray;
    border-radius: 20px;
}

.passwordreset-container h1 {
    margin: 20px 0px;
}

.passwordreset-fields {
    display:  flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.passwordreset-fields input {
    height: 70px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid gray;
    outline: none;
    color: black;
    font-size: 18px;
    
}

.passwordreset-container button {
    width: 50%;
    height: 70px;
    color: white;
    background: blue;
    margin-top: 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}

.passwordreset-signup {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.passwordreset-signup span {
    color: blue;
    font-weight: 600;
}

label {
    font-weight: 500;
}