.profile-pic-select {
    padding: 20px;
}

.picture-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .profile-pic-card {
        width: 80px;
        height: 80px;
    }
}