.profilepage {
    width: 100%;
    background: #fce3fe;
    padding: 50px;
}

.profile {
    max-width: 60%;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    background: white;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-content {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center items horizontally */
}

.profile-image {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-image-button {
    padding: 5px 10px; /* Smaller padding */
    background: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    max-height: 50px;
}

.profile-details {
    margin-top: 20px; /* Add margin to separate details from image and button */
}

.profile-details ul {
    list-style: none;
    padding: 0;
}

.profile-details ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile-details ul li label {
    margin-right: 20px;
}

.profile-details ul li p {
    margin: 0;
}

.profile-details ul li input {
    width: 300px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: fit-content;
}

button + button {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .profile {
        max-width: 100%; 
    }

    .profile-image {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    .profile-image-button {
        width: fit-content;
        max-height: 40px;
        margin: 0 auto;
    }

    .profile-details ul li {
        flex-direction: column;
    }

    .profile-details ul li input {
        width: 100%;
        margin-top: 5px;
    }
}

