.registerpage {
    width: 100%;
    min-height: 100vh;
    background: #fce3fe;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border: 1px solid gray;
    border-radius: 20px;
}

.register-container h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 24px;
}

.register-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.register-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid gray;
    outline: none;
    color: black;
    font-size: 18px;
}

.register-container button {
    width: 50%;
    height: 50px;
    color: white;
    background: blue;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.register-signup {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.register-signup a {
    color: blue;
    text-decoration: none;
}

form {
    padding-right: 0px;
}

label {
    font-weight: 500;
}

@media (max-width: 768px) {
    .register-container {
        width: 90%;
        max-width: 400px;
        padding: 30px;
    }

    .register-container h1 {
        font-size: 20px;
    }

    .register-fields input {
        height: 40px;
        font-size: 16px;
    }

    .register-container button {
        height: 40px;
        font-size: 18px;
    }

    .register-signup {
        font-size: 16px;
    }
}
