.passwordresetloginpage {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 230, 200);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordresetlogin-container {
    width: 580px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(225, 225, 255);
}

.passwordresetlogin-container h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 24px;
}

.passwordresetlogin-fields {
    margin-top: 30px;
}

.passwordresetlogin-fields input {
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
}

.passwordresetlogin-container button {
    width: 100%;
    height: 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.passwordresetlogin-signup {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.passwordresetlogin-signup span {
    color: blue;
    font-weight: 600;
}

label {
    font-weight: 500;
}

@media (max-width: 768px) {
    .passwordresetlogin-container {
        width: 90%;
        max-width: 400px;
        padding: 30px;
    }

    .passwordresetlogin-container h1 {
        font-size: 20px;
    }

    .passwordresetlogin-fields input {
        height: 40px;
        font-size: 16px;
    }

    .passwordresetlogin-container button {
        height: 40px;
        font-size: 16px;
    }

    .passwordresetlogin-signup {
        font-size: 16px;
    }
}
