.welcomepage {
    text-align: center;
    justify-content: center;
    margin: 150px;
    /* background-clip: url('../../../public/Images/hatter.mp4'); */
}

.title {
    text-align: center;
    font-size: 40px;
}

.description {
    text-align: center;
    font-size: larger;
}