.welcomepage {
    text-align: center;
    justify-content: center;
    margin: 150px;
    background-image: url('../../../public/Images/logo.png');
}

.title {
    text-align: center;
    font-size: 40px;
}

.description {
    text-align: center;
    font-size: larger;
}