.carousel {
  height: 800px;
  width: 50rem;
  margin: auto;
}

.carousel-img {
  max-width: 1200px;
  max-height: 800px;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 20px;
}

.react-responsive-carousel .control-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.react-responsive-carousel .control-arrow.prev {
  left: 20px;
}

.react-responsive-carousel .control-arrow.next {
  right: 20px;
}