
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';



@import 'bootstrap/scss/bootstrap.scss';

.header-bg{
    background: url('../img/smallLogo.png');
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #DBF3FA;
}

.header-title{
    font-size: 8vw;
    font-weight: bold;
    color: #3468C0;
    // -webkit-text-fill-color: transparent;
    // -webkit-text-stroke: 2px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

.error-message{
    color: red;
}

.bg-navfoot-bazarbunker {
    background-color: #FFDD95;
}

.bg-bazarbunker {
    background-color: #86A7FC;
}